.categories {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ddb43c !important;

  .list-categories {
    color: white;
    padding: 10px;

    a {
      color: white;
      text-decoration: none;
      font-size: 15px;
    }
  }
}
